body{
    margin: 0;
}

.df{
    display: flex;
}

.dn{
    display: none;
}

.dg{
    &-2{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    &-3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    &-4{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    &-5{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    &-6{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

.jst{
    &-b{
        justify-content: space-between;
    }
    &-c{
        justify-content: center;
    }
    &-fe{
        justify-content: flex-end;
    }
    &-fs{
        justify-content: flex-start;
    }
}

.alg{
    &-c{
        align-items: center;
    }
    &-fe{
        align-items: flex-end;
    }
    &-fs{
        align-items: flex-start;
    }
}
