$blue-dark:#283D5F;
$blue:#0C54A0;
$black: #333333;
$yellow:  #EDCD28;
$gray:  #888888;
$gray-light:  #F3F3F3;



$red: #EF3F36;
$green: #8DC63F;
$green_2: #13A79D;
$blue: #5481E6;
$blue-bg: #5683F6;

$gray-light: #F4F7F9;
$gray-dark: #A2ACB2;
$black: #1D1D1B;


$hamburger-color: $black;
$show_mobile_menu_at : 850px;
//$show_mobile_menu_at : 1070px;
