.invite{
    &-01{
        max-width: 755px;
        width: 100%;
        margin-top: 48px;
        margin-bottom: 50px;
        @media screen and (max-width: 600px) {
            margin-bottom: 25px;
            margin-top: 25px;
        }
    }

    .max-700{
        @media screen and (max-width:930px) {
            max-width: unset;
        }
    }

    .map-big{
        width: 100%;
    }

    &__black{
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 30px;
        background-color: #1D1D1B;
        margin-bottom: 60px;
        position: relative;
        @media screen and (min-width: 1240px) {
            margin-top: -78px;
        }
        p:nth-child(2){
            margin-bottom: 15px;
        }
    }

    &__blue{
        display: flex;
        align-items: center;
        min-height: 100px;
        background-color: $blue;
        gap: 18px;
        position: relative;
        margin-top: 70px;
        margin-bottom: 60px;
        @media screen and (max-width: 600px) {
            margin-top: 35px;
            margin-bottom: 30px;
        }
        p,img{
            z-index: 1;
        }
        &:after{
            position: absolute;
            content: "";
            height: 100%;
            width: 170%;
            right: -55px;
            background-color: #5481e6;
            z-index: 0;
        }
        img{
            width: 40px;
        }
    }

    &__records{
        margin-top: 70px;
        padding-top: 60px;
        border-top: 2px solid $gray-light;
        @media screen and (max-width: 600px) {
            margin-top: 35px;
            padding-top: 30px;
        }
        table{
            width: 100%;
            th{
                td:first-child{
                    width: 100%;
                }
            }
        }
    }



    &__table{
        &_row{
            display: flex;
            gap: 30px;
            @media screen and (max-width: 650px) {
                &:first-child{
                    display: none;
                }
            }
            &-active{
                img{
                    position: relative;
                    transform: rotate(180deg);
                    transform-origin: center center;
                }
            }
            p:first-child{
                max-width: 420px;
                width: 100%;
            }
            p:nth-child(2){
                max-width: 150px;
                width: 100%;
            }
            p:nth-child(3){
                max-width: 160px;
                width: 100%;
            }
            p{
                width: 100%;
                display: flex;
                align-items: center;
                gap: 10px;
                line-height: 2.3;
            }

            @media screen and (max-width: 650px) {
                flex-direction: column;
                gap: 0;
                margin-bottom: 20px;
                p{
                    line-height: 1.6;
                    max-width: unset;
                    &:nth-child(2),&:nth-child(3){
                        padding-left: 10px;
                    }
                }
            }
        }
        margin-bottom: 37px;
        @media screen and (max-width: 600px) {
            margin-bottom:17px;
        }
    }

    &__content.blog__content{
        @media screen and (min-width: 1170px) {
            column-gap: 50px;
        }
    }

    &-showmore{
        height: 39px;
        margin-left: auto;
        margin-right: auto;
        width: 114px;
        margin-bottom: 71px;
        @media screen and (max-width: 600px) {
            margin-bottom: 30px;
        }
    }

    &__form{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .footerform__form{
        padding-left: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        padding-right: 0;
    }
}

.c-p{
    cursor: pointer;
}