.mainscreen{
    @media screen and (max-width: $show-mobile-menu-at) {
        padding-top: 50px;
    }

    .slideshow__main{
        margin-bottom: 0;
        margin-top: 0;
    }

    .slideshow{
        margin-top: 71px;
        @media screen and (max-width: 768px) {
            margin-top: 45px;
        }
        @media screen and (max-width: 550px) {
            margin-top: 30px;
        }

    }

    .slnav{
        &__item{
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 2px solid $gray-dark;
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 1px;
                -webkit-text-stroke-width: 1px !important;
                -webkit-text-stroke-color: transparent;
                position: relative;
            }
            position: relative;
            &::after, &::before{
                position: absolute;
                content: '';
                height: 100%;
                width: 4px;
                top: 0;
                left: 0;
                background-color: white;
                opacity: 0;
                transition: .1s;
                z-index: 1;
            }
            &::before{
                left: unset;
                right: 0;
            }
            &:hover{
                &::before, &::after{
                    opacity: 1;
                }
                /*
                margin-right: 10px !important;
                margin-left: 10px !important;
                */
                p{
                    color: $green;
                    -webkit-text-stroke-color: $green;
                    border-color: $green;
                }
            }
        }
    }
    .slitem{
        padding-top: 70px;
        padding-bottom: 73px;
        display: flex;
        gap: 46px;
        @media screen and (max-width: 880px) {
            flex-direction: column;
            gap: 20px;
        }
        & > .text-50{
            margin-bottom: 20px;
            line-height: 60px;
        }
        .related__row{
            margin-top: 22px;
            margin-bottom: 10px;
            gap: 10px;
            display: flex;
            flex-direction: column;
            .df{
                gap: 20px;
                align-items: center;
            }
        }
        &__left{
            position: relative;
            margin-left:50px;
            &-green{
                background: linear-gradient(-90deg, #8DC63F 78.12%, rgba(141, 198, 63, 0) 100%);
                width: 450px;
                height: 100px;
                text-align: right;
                padding-right: 34px;
                box-sizing: border-box;
                align-items: center;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                line-height: 1;
                margin: 0;
                position: absolute;
                color: white;
                transform: rotate(-90deg);
                right: calc(100% + 50px);
                top: -20px;
                //opacity: 0;
                transform-origin: top right;
            }
            img{
                height: 450px;
                @media screen and (max-width: 980px) {
                    height: auto;
                    max-width: 300px;
                }
                @media screen and (max-width: 880px) {
                    height: auto;
                    max-width: 550px;
                    width: 100%;
                }
            }
        }

        &__right{
            z-index: 1;
            & > p:nth-child(2){
                margin-bottom: 32px;
            }
            &-showmore{
                background-color: transparent;
                font-size: 14px;
                font-weight: 400;
                color: $gray-dark;
                border: unset !important;
                padding-top: 10px;
                padding-bottom: 10px;
                outline: unset !important;
            }
            &-actions{
                margin-top: 51px;
                .df{
                    gap: 10px;
                }
            }
        }
    }
}

.slideshow__menu{
    box-sizing: border-box;
    //padding-left: 55px;
    //padding-right: 55px;
    position: relative;
    max-width: 1064px !important;
    margin: 0 auto;
    &-bb{
        position: absolute;
        bottom: 0;
        height: 2px;
        background-color: $gray-dark;
        width: calc(100% + 100px);
        max-width: calc(100vw - 40px);
        left: -50px;
        z-index: 1;
        @media screen and (max-width: 1210px) {
            left: 0;
        }
    }
    &:after{
        position: absolute;
        width: 100px;
        left: 0;
        height: 100%;
        content: '';
        top: 0;
        background: linear-gradient(90deg, #FFFFFF 20%, rgba(255, 255, 255, 0) 84.25%);
        //display: none;
    }
    &:before{
        position: absolute;
        width: 100px;
        right: 0;
        height: 100%;
        content: '';
        top: 0;
        background: linear-gradient(90deg, #FFFFFF 20%, rgba(255, 255, 255, 0) 84.25%);
        z-index: 1;
        transform: rotate(180deg);
        //display: none;
    }
}