.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    &::after{
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        opacity: .95;
        z-index: -1;
        background-color: $black;
    }

    &__language{
        padding-left: 50px;
        padding-top: 43px;
        padding-right: 50px;
        padding-bottom: 53px;
        box-sizing: border-box;
        margin-left: auto;
        margin-top: 120px;
        @media screen and (max-width: 950px) {
            margin-top: 150px;
        }
        @media screen and (max-width: 850px) {
            margin-top: 78px;
        }
        max-width: 660px;
        background-color: white;
        position: relative;
        &:after{
            position: absolute;
            width: 30px;
            height: 30px;
            transform: rotate(45deg);
            top: 0;
            content: '';
            background-color: white;
            right: 10px;
            @media screen and (max-width: 850px) {
                right: 40px;
            }
        }
        &-btn{
            position: absolute;
            top: -73px;
            right: 0;
            width: 132.5px;
            gap: 10px;
            @media screen and (max-width: 850px) {
                right: 40px;
                width: 127.34px;
            }
        }
        &-top{
            display: flex;
            justify-content: space-between;
            .modal-close{
                position: static;
                top: unset;
                left: unset;
                padding: 0;
                position: relative;
                img{
                    width: 14px;
                    height: 14px;
                }
                &:hover{
                    background-color: transparent;
                    transform: scale(1.1);
                }
                bottom: unset;
                right: unset;
            }
            .text-20{
                margin-bottom: 6px;
            }
        }
        &-links{
            margin-top: 8px;
            a{
                padding-right: 8.5px;
                &:hover{
                    text-decoration: underline;
                }
            }
            a:not(:first-child){
                padding-left: 10px;
                border-left: 1.5px solid $gray-dark;
            }
        }
        &-bottom {
            padding-top: 26px;
            margin-top: 35px;
            box-sizing: border-box;
            border-top: 2px solid $gray-light;
            display: flex;
            justify-content: space-between;
            &-earth{
                display: flex;
                justify-content: center;
                align-items: center;
                color: $black;
                &-img{
                    margin-left: auto;
                    transition: .2s;
                }
                img{
                    margin-right: 8px;
                }
                span{
                    margin-left: 4px;
                }
            }
            button{
                background-color: transparent;
                outline: unset;
                transition: .2s;
                border: unset;
                cursor: pointer;
                &:hover{
                    color: $black;
                }
            }
        }

        &-search{
            margin-top: 20px;
            padding-bottom: 30px;
            margin-bottom: 20px;
            border-bottom: 2px solid $gray-light;

        }

        &s{
            max-height: 277px;
            overflow-y: scroll;
            padding-right: 12px;
            position: relative;
            margin-right: -30px;
            padding-bottom: 30px;
            .modal__language-bottom-earth{
                min-height: 30px;
                &.global{

                    margin-bottom: 18px;
                }
                cursor: pointer;
                &:hover{
                    .modal__language-bottom-earth-img{
                        position: relative;
                        transform: translateX(6px);
                    }
                }
            }
            line-height: 30px;
        }
    }

    &__search{
        padding-top: 50px;
        padding-bottom: 180px;
        &group{
            margin-bottom: 20px;
        }
        &results{
            &-head{
                margin-bottom: 22px;
            }
        }
        .text-16{
            line-height: 30px;
        }
        .label{
            margin-bottom: 9px;
        }
    }
    .container{
        position: relative;
    }
    &-close{
        position: absolute;
        right: 0;
        top: 38px;
        background-color: transparent;
        border: unset;
        outline: unset;
        padding: 15px;
        transition: .2s;
        @media screen and (max-width: 550px) {
            top: 0px;
            padding: 10px;
        }
        &:hover{
            background-color: rgba(0, 0, 0, 0.123);
        }
    }
    &__searchform{
        margin: 0 auto;
        margin-bottom: 80px;
        form{
            justify-content: center;
            display: flex;
            input{
                width: 100%;
                padding-left: 20px; 
                padding-right: 20px;
                max-width: 382px;
                border: unset;
                box-sizing: border-box;
                outline: unset;
            }
            button{
                border: unset;
                box-sizing: border-box;
                outline: unset;
            }
        }

    }
}

body.owfhidden{
    overflow: hidden;
    padding-right: 10px;
}

.input{
    &-primary{
        font-size: 16px;
        color: $gray-dark;
        font-weight: 400;
        background-color: $gray-light;
        padding-left: 20px;
        padding-right: 20px;
        max-width: 560px;
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        border: unset;
    }
}